@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Roboto;
    src: url('./fonts/Roboto-Regular.ttf');
}
body {
    min-height: 100vh;
    font-family: "Roboto", serif;
    background: linear-gradient(125deg, #222, #202020);
}
.filepond--credits {
    display: none;
}