{% extends 'base.html.twig' %}

{% block title %}Libre &amp; vivant | Toutes mes photos{% endblock %}

{% block body %}
<div class="site-wrap" id="home-section">

      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>
      <header class="site-navbar site-navbar-target" role="banner">
        <div class="container">
          <div class="row align-items-center position-relative">
            <div class="col-3 ">
              <div class="site-logo">
                <a href="index.html">L&V</a>
              </div>
            </div>
            <div class="col-9  text-right">
              <span class="d-inline-block d-lg-none"><a href="#" class="text-white site-menu-toggle js-menu-toggle py-5 text-white"><span class="icon-menu h3 text-white"></span></a></span>
              <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
                <ul class="site-menu main-menu js-clone-nav ml-auto ">
                  <li class=""><a href="/" class="nav-link">Home</a></li>
                  <li class="active"><a href="/photos" class="nav-link">Toutes mes photos</a></li>
                  <li><a href="/contact" class="nav-link">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        </header>
        <div class="ftco-blocks-cover-1 w-100 h-100" style="height: auto; width: 100vw !important">
                <div class="site-section-cover overlay home-banner h-100" data-stellar-background-ratio="0.5">
                        <div class="container h-100">
                                <div class="row align-items-center justify-content-center text-center h-100">
                                        <div class="col-md-12">
                                                <h1 class="mb-3">Libre & Vivant</h1>
                                                <p style="font-family: 'Bebas Neue', cursive;">Bonjour, je m’appelle Victoria, je suis agée de 20 ans, j’ai fait de la photographie une passion qui permet de rendre heureux les personnes ou de laisser une émotion sur certaines photographies que personne n'arriverait à voir. Aujourd’hui je me présente a vous afin de pouvoir rendre vos moments encore plus magique et d’en faire des souvenirs inoubliable.</p>
                                                <blockquote class="blockquote-footer text-white" style="font-family: 'Calligraffitti', cursive;">La photographie est une brève complicité entre la prévoyance et le hasard. </blockquote>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
        <main class="page-content container">
          <select>
            <div>
          </select>
                <div class="category-sel d-flex justify-content-center button-group filter-button-group my-5">
                        <button class="cat-btn cat-btn-first h-100" data-filter="*">Toutes</button>
                        {% for category in categories %}
                                <button class="cat-btn cat-btn h-100 {% if loop.index is odd %}even{% endif %}{% if loop.last %} cat-btn-last{% endif %}" data-filter=".{{category.name}}">{{category.name}}</button>
                        {% endfor %}
                </div>

                <div id="pictures-grid" class="row w-100 justify-content-center" data-masonry='{ "percentPosition": true}'>
                {% for datum in data %}
                        <div class="col-lg-4 col-6 p-2 testing {{datum.category}}">
                                <div class="p-1 bg-white overflow-hidden w-100">
                                        <div class="w-100 overflow-hidden">
                                                <img src="{{vich_uploader_asset(datum, 'imageFile')|imagine_filter('photolist')}}" class="m-auto testoverflow w-100" style="overflow: hidden"/>
                                        </div>
                                </div>
                        </div>
                {% endfor %}
                </div>
        </main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
<script>
// init Isotope
var $grid = $('#pictures-grid').isotope({
  // options
});
// filter items on button click
$('.filter-button-group').on( 'click', 'button', function() {
  var filterValue = $(this).attr('data-filter');
  $grid.isotope({ filter: filterValue });
});
</script>
{% endblock %}
