body {
    background-color: lightgray;
}
:root {
    --c-ribbon: #fff;
    --c-ribbon-shadow: #fff;
    --c-ribbon-text: #2f2f2f;
    --c-title: #fff;
  }

.home-banner {
    background-image: url(./../../images/banners/milan.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.price-table {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .price-card {
    color: #fff;
    background-color: #2f2f2f;
    width: 25%;
    min-width: 12rem;
    max-width: 15rem;
    text-align: center;
    margin: 0 2rem;
    padding: 0.5rem 0 1rem;
  }
  
  .price-card__ribbon {
    position: relative;
    padding: 2rem 1rem;
    margin: 0 -0.8rem 2rem;
    background-color: var(--c-ribbon);
    transform: skew(0, -10deg);
    border-radius: 3px 0;
    box-shadow: 0 2rem 1.2rem -2rem var(--c-ribbon-shadow);
  }
  
  .price-card__ribbon:before,
  .price-card__ribbon:after,
  .product-card__ribbon:before,
  .product-card__ribbon:after {
    width: 0;
    height: 0;
    border-style: solid;
    content: "";
    position: absolute;
  }
  
  .price-card__ribbon:before {
    border-width: 0 0.8rem 0.8rem 0;
    border-color: transparent var(--c-ribbon-shadow) transparent transparent;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
  }
  
  .price-card__ribbon:after {
    border-width: 0.8rem 0 0 0.8rem;
    border-color: transparent transparent transparent var(--c-ribbon-shadow);
    right: 0;
    top: 0;
    transform: translateY(-100%);
  }
  
  .price-card__ribbon-text {
    color: var(--c-ribbon-text);
    font-size: 2rem;
    line-height: 1.4;
    font-weight: 700;
    display: block;
    transform: skew(0, 10deg);
  }
  
  .price-card__title {
    padding-bottom: 1rem;
    color: var(--c-title);
  }
  
.price-card--highlight {
    --c-ribbon: #fff;
    --c-ribbon-text: #d63031;
    --c-ribbon-shadow: #f8f8f8;
    --c-title: #fff;
    background: #d63031;
  
    box-shadow: 0 0 3rem -1.5rem rgba(0, 0, 0, 0.5);
}

.product-card__ribbon-text {
    color: #FFF;
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 700;
    display: block;
}
.product-card__ribbon {
    position: relative;
    padding: 0.2rem;
    margin: 0 -0.8rem 2rem;
    background-color: #d63031;
    transform: skew(0, -10deg);
    border-radius: 3px 0;
    box-shadow: 0 1px 0.2rem 0 #aa2828;
}
.product-card:nth-of-type(even) .product-card__ribbon {
  position: relative;
  padding: 0.2rem;
  margin: 0 -0.8rem 2rem;
  background-color: #2f2f2f;
  transform: skew(0, -10deg);
  border-radius: 3px 0;
  box-shadow: 0 1px 0.2rem 0 #555555;
}
.product-card:nth-of-type(even) .product-card__ribbon:before {
  border-width: 0 0.8rem 0.8rem 0;
  border-color: transparent #555555 transparent transparent;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
}
.product-card:nth-of-type(even) .product-card__ribbon:after {
  border-width: 0.8rem 0 0 0.8rem;
  border-color: transparent transparent transparent #555555 ;
  right: 0;
  top: 0;
  transform: translateY(-100%);
}
.product-card__ribbon:before {
  border-width: 0 0.8rem 0.8rem 0;
  border-color: transparent #aa2828 transparent transparent;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
}

.product-card__ribbon:after {
  border-width: 0.8rem 0 0 0.8rem;
  border-color: transparent transparent transparent #aa2828;
  right: 0;
  top: 0;
  transform: translateY(-100%);
}

.product-card {
    color: #2f2f2f;
    background-color: #fff;
    width: 33%;
    min-width: 12rem;
    max-width: 15rem;
    text-align: center;
    margin: 0 2rem;
    padding: 0.5rem 0 1rem;
    padding-top: 0;
}
.product-description {
  padding: 1rem 10px;
  padding-bottom: 0;
  height: calc(100vw / 12);
  overflow: hidden;
}
.btn-more {
  background: #d63031 !important;
  border: 1px solid #d63031 !important;
  color: black !important;
  transition: .3s linear;
}
.btn-more:hover {
  background-color: transparent !important;
  color: #d63031 !important;
}

.site-wrap {
  background: #000;
}

#page-content .card {
  cursor: pointer;
  display: flex;
  overflow: hidden;
}
#page-content .card .card-content {
  transition: .3s linear;
}
#page-content .card:hover .card-content {
  transform: scale(1.2);
}
#page-content .card-content .content {
  display: none;
  transition: .3s linear;
  margin: auto;
  text-align: center;
}
#page-content .card:hover .content {
  display: block;
}

.testoverflow {
  transition: .1s linear;
  cursor: pointer;
}
.testoverflow:hover {
  animation: kenburns-bottom 5s linear infinite ;
}



@keyframes kenburns-bottom {
  0% {
    transform: scale(1) translateY(0);
    transform-origin: 50% 84%;
  }
  51% {
    transform: scale(1.25) translateY(15px);
    transform-origin: bottom;
  }
  99%  {
    transform: scale(1.01) translateY(0);
    transform-origin: 50% 84%;
  }
}

* { box-sizing: border-box; }

body {
  font-family: sans-serif;
}

/* ---- button ---- */

.button {
  display: inline-block;
  padding: 0.5em 1.0em;
  background: #EEE;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
  color: #222;
  font-family: sans-serif;
  font-size: 16px;
  text-shadow: 0 1px white;
  cursor: pointer;
}

.button:hover {
  background-color: #8CF;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
}

.button:active,
.button.is-checked {
  background-color: #28F;
}

.button.is-checked {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

.button-group {
  margin-bottom: 20px;
}

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

.button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }
.button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; }

/* ---- isotope ---- */

.grid {
  border: 1px solid #333;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

.element-item {
  position: relative;
  float: left;
  width: 100px;
  height: 100px;
  margin: 5px;
  padding: 10px;
  background: #888;
  color: #262524;
}

.element-item > * {
  margin: 0;
  padding: 0;
}

.element-item .name {
  position: absolute;

  left: 10px;
  top: 60px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 12px;
  font-weight: normal;
}

.element-item .symbol {
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 42px;
  font-weight: bold;
  color: white;
}

.element-item .number {
  position: absolute;
  right: 8px;
  top: 5px;
}

.element-item .weight {
  position: absolute;
  left: 10px;
  top: 76px;
  font-size: 12px;
}

.element-item.alkali          { background: #F00; background: hsl(   0, 100%, 50%); }
.element-item.alkaline-earth  { background: #F80; background: hsl(  36, 100%, 50%); }
.element-item.lanthanoid      { background: #FF0; background: hsl(  72, 100%, 50%); }
.element-item.actinoid        { background: #0F0; background: hsl( 108, 100%, 50%); }
.element-item.transition      { background: #0F8; background: hsl( 144, 100%, 50%); }
.element-item.post-transition { background: #0FF; background: hsl( 180, 100%, 50%); }
.element-item.metalloid       { background: #08F; background: hsl( 216, 100%, 50%); }
.element-item.diatomic        { background: #00F; background: hsl( 252, 100%, 50%); }
.element-item.halogen         { background: #F0F; background: hsl( 288, 100%, 50%); }
.element-item.noble-gas       { background: #F08; background: hsl( 324, 100%, 50%); }
